<div class='mb-3'>
    <%= form.label 'Name'%>
    <%= form.text_field :name, class: "form-control"%>
</div>

<div class='mb-3'>
    <%= form.label 'Description'%>
    <%= form.text_field :description, class: "form-control"%>
</div>

<div class='mb-3'>
    <%= form.label 'Category'%>
    <%= form.text_field :category, class: "form-control"%>
</div>

<div class='mb-3'>
    <%= form.label 'Image Link'%>
    <%= form.text_field :image_url, class: "form-control"%>
</div>