<div id='main_component'>
    <span id='title' align="center">
        Place an Order
    </span>

    <%= form_with(url: create_order_path, method: :post, local: true, data: {turbo: false}) do |form| %>
        <% if flash.now[:alert] %>
            <div class="alert alert-danger">
            <%= flash.now[:alert] %>
            </div>
        <% elsif flash.now[:notice] %>
            <div class="alert alert-success">
            <%= flash.now[:notice] %>
        </div>
      <% end %>

        <div id='toprow'>
            <div class="row col-12">
                <div class="col-md-4">
                    <div class="form-floating">
                        <%= form.label :first_name, class: '' %>
                        <%= form.text_field :first_name, class: 'form-control', value: @data[:first_name], required: true%>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating">
                        <%= form.label :last_name, class: '' %>
                        <%= form.text_field :last_name, class: 'form-control', value: @data[:last_name], required: true%>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating">
                        <%= form.label :quantity, class: "form-label" %>
                        <%= form.number_field :quantity, class: 'form-control', min: 0, value: @data[:quantity]%>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <%= render 'fragrance_dropdown', list: @fragrance_list, form: form, data: @data%>
        </div>

        <div class="row col-12">
          <div class="form-group mt-3">
            <%= form.submit 'Start Order', class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
</div>
  