<%= render 'error' %>
<div id='main-component'>
    <div id='header' class='text-center'>
        <span id='title'>
            Place an Order
        </span>
    </div>
    <%= form_with(url: create_order_path, method: :post, local: true, data: {turbo: false}) do |form| %>
        <div class="row col-12">
            <div class="col-md-4">
                <div class="form-floating">
                    <%= form.label :first_name %>
                    <%= form.text_field :first_name, class: 'form-control', value: @data[:first_name], required: true, placeholder: 'Enter Customers First Name' %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating">
                    <%= form.label :last_name %>
                    <%= form.text_field :last_name, class: 'form-control', value: @data[:last_name], required: true, placeholder: 'Enter Customers Last Name' %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating">
                    <%= form.label :quantity %>
                    <%= form.number_field :quantity, class: 'form-control', min: 1, value:( @data[:quantity] || 1), required: true%>
                </div>
            </div>
        </div>
        <%= render 'fragrance_dropdown', list: @fragrance_list, form: form, data: @data%>
        <div class="row col-12">
          <div class="form-group mt-3 col-12">
            <%= form.submit 'Start Order', class: 'btn btn-primary col-12' %>
          </div>
        </div>
    <% end %>
</div>
